@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: Poppins;
  height: 100%;
  width: 100%;
  background-color: #BB0505;
  color: #eee;
  margin: 0;
  font-size: 12px;
  overflow-x: hidden;
}

body .fundo {
  background-color: #BB0505;
}




.navbar {
  width: 1365px;
  max-width: 100%;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E90FF;
  cursor: pointer;
  position: fixed;
  z-index: 999;
}

.menu a {
  font-size: 17.5px;
  margin-left: 50px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo img {
  margin-left: 50px;
  width: 50%;
  background-color: transparent;
}

.navbar button {
  padding: 1.0rem 1.5rem;
  display: inline-block;
  background-color: black;
  border-radius: 0.6rem;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
}

.tituloTela span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-bottom: -15px;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
}

.linha {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5px;
  align-items: center;
  background-color: #BB0505;
  color: #ffff;
}