@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    height: 100%;
    width: 100%;
    background-color: #BB0505;
    color: #eee;
    margin: 0;
    font-size: 12px;
    overflow-x: hidden;
}


/* 
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 } */

/* html {
     font-size: 10px;
     height: 100%;
     min-height: 100%;
 } */
.navbar {
    width: 1350px;
    max-width: 100%;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #1E90FF;
    cursor: pointer;
    position: fixed;
    z-index: 999;
}

.menu a {
    font-size: 20px;
    margin-left: 100px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logo img {
    margin-left: 100px;
    width: 50%;
    background-color: transparent;
}

.navbar button {
    padding: 1.0rem 1.5rem;
    display: inline-block;
    background-color: black;
    border-radius: 0.6rem;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
}

.tituloTela span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: -15px;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

.linha {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5px;
    align-items: center;
    background-color: #BB0505;
    color: #ffff;
}


/* estilização do carrosel */

.carrosel {
    width: 90vh;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
}

.carrosel .lista .itens {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carrosel .lista .itens img {
    margin-left: 830px;
    margin-top: 120px;
    margin-bottom: 15px;
    width: 500px;
    height: 650px;
    /* object-fit: cover; */
    border-radius: 20px;
}

.carrosel .lista .itens .conteudo {
    margin-top: 30px;
    margin-right: 140px;
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: aliceblue;
    /* text-shadow: 0 5px 10px #0004; */
    background-color: #BB0505;
    z-index: -1;
}

.carrosel .lista .itens .conteudo .autor {
    font-weight: bold;
    letter-spacing: 10px;
}

.carrosel .lista .itens .conteudo .titulo {
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
    z-index: 0;
}

.carrosel .lista .itens .conteudo .descricao{
    /* margin-bottom: 50px; */
    background-color: #BB0505;
    min-height: 500px;
}

.carrosel .lista .itens .conteudo .botao {
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.carrosel .lista .itens .conteudo button {
    padding: 1rem 4rem;
    display: inline-block;
    background-color: black;
    border-radius: 0.6rem;
    color: white;
    text-decoration: none;
    z-index: 10;
}

.carrosel .lista .itens .botao button:nth-child(2) {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}


/* estilização das thumbs */

.thumb {
    padding-left: 15px;
    margin-top: 430px;
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: max-content;
    /* z-index: 100; */
    display: flex;
    gap: 20px;
    z-index: -1;
}

.thumb .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumb .item img {
    margin-top: 430px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumb .item .conteudo {
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumb .item .conteudo .titulo {
    font-weight: bold;
}

/* setas */

.setas {
    position: absolute;
    top: 100%;
    right: 53.1%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.setas button {
    margin-left: 230px;
    margin-top: 420px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BB0505;
    border: none;
    font-family: monospace;
    color: #eee;
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.setas button:hover {
    background-color: black;
    color: #eee;
}

.carrosel .lista .item:nth-child(1) {
    z-index: 1;
}

.carrosel .lista .item:nth-child(1) .conteudo,
.carrosel .lista .item:nth-child(1) .titulo,
.carrosel .lista .item:nth-child(1) .autor,
.carrosel .lista .item:nth-child(1) .descriacao,
.carrosel .lista .item:nth-child(1) .botao {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: mostrarConteudo 0.3s 0s linear 1 forwards;
}

@keyframes mostrarConteudo {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carrosel .lista .item:nth-child(1) .autor {
    animation-delay: 1.2s;
}

.carrosel .lista .item:nth-child(1) .titulo {
    animation-delay: 1.4s;
}

.carrosel .lista .item:nth-child(1) .descriacao {
    animation-delay: 1.6s;
}

.carrosel .lista .item:nth-child(1) .botao {
    animation-delay: 1.8s;
}

.carrosel.proximo .lista .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: mostrarImagem 0.5s linear 1 forwards;
}

@keyframes mostrarImagem {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carrosel.proximo .thumb .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    animation: mostrarThumbs .5s linear forwards;
}

@keyframes mostrarThumbs {
    to {
        width: 150px;
    }
}

.carrosel.proximo .thumbs {
    transform: translateX(150px);
    animation: transformacaoThumb .5s linear 1 forwards;
}

@keyframes transformacaoThumb {
    to {
        transform: translateX(0);
    }
}

.carrosel.atual .lista .item:nth-child(2) {
    z-index: 2;
}

.carrosel.atual .lista .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: proxImagem 0.5s linear 1 forwards;
}

@keyframes proxImagem {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 150px;
    }
}

.carrosel.atual .thumb .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: mostrarThumb 0.5s linear 1 forwards;
}


.carrosel.atual .lista .item:nth-child(2) .autor,
.carrosel.atual .lista .item:nth-child(2) .titulo,
.carrosel.atual .lista .item:nth-child(2) .descriacao,
.carrosel.atual .lista .item:nth-child(2) .botao {
    animation: outConteudo linear 1 forwards;
}

@keyframes outConteudo {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carrosel.proximo .setas button,
.carrosel.atual .setas button {
    pointer-events: none;
}

.tempo {
    width: 0%;
    height: 5px;
    background-color: black;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carrosel.proximo .tempo,
.carrosel.atual .tempo {
    width: 100%;
    animation: tempoCorrendo 2s linear forwards;
}

@keyframes tempoCorrendo {
    to {
        width: 0;
    }
}

@media screen and (max-width: 678px) {
    .carrosel .lista .item .conteudo {
        padding-right: 0;
    }

    .carrosel .lista .item .conteudo .titulo {
        font-size: 30px;
    }
}



.footer {
    margin-top: 500px;
    width: 100%;
    height: 200px;
    background-color: #1E90FF;

}

.footer .logo img {
    margin-right: 30px;
    margin-top: 17px;
    width: 40%;
    background-color: transparent;
}

.caixa {
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    /* margin: 10px; */
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes span {
    font-size: 25px;
}

.fundocaixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.texto {
    display: flex;
    flex-direction: column;

}

.texto a {
    font-size: 20px;
}

.email {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.email img {
    width: 25px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.telefone img {
    width: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.telefone span {
    font-size: large;
}

.redes .imgInsta {
    margin-top: 8px;
    cursor: pointer;
}