@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.navbar {
    width: 1450px;
    max-width: 100%;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1E90FF;
    cursor: pointer;
    /* position: fixed; */
    z-index: 999;
    margin-bottom: 50px;
}

.menu a {
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logo img {
    margin-left: 50px;
    width: 50%;
    background-color: transparent;
}

.navbar button {
    padding: 1.0rem 1.5rem;
    display: inline-block;
    background-color: black;
    border-radius: 0.6rem;
    color: white;
    text-decoration: none;
    /* margin-left: 20px; */
    cursor: pointer;
}

.tituloTela span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: -15px;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

.linha {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5px;
    align-items: center;
    background-color: #BB0505;
    color: #ffff;
}

/* Quiz.css */

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BB0505;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    color: #ffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.content {
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    background-color: #ffff;
}

.finish {
    text-align: center;
}

button {
    background-color: #1E90FF;
    color: white;
    padding: 10px 200px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button .answer {
    width: 100%;
    background-color: #1E90FF;
    color: white;
    padding: 10px 187px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #76b7f3;
}

span {
    margin-right: 10px;
}

.answers {
    display: block;
    margin-top: 10px;
}

.answer {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

span.spnQtd {
    color: black;
}

span.question {
    color: black;
}

.resposta-popup {
    background-color: black;
    
    width: 150px;
    border-radius: 5px;
    height: 50px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins;
    margin-bottom: 5px;
}


.texto-resposta {
    font-size: 15px;
    color: green;
    text-align: center; 
}
